:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
    --box-shadow--light: 0 2px 6px rgba(var(--gray), 25%), 0 8px 5px rgba(var(--gray), 33%),
    0 8px 16px rgba(var(--gray), 33%);
}

@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    font-family: 'Atkinson', sans-serif;
}

button {
    background-color: #298836;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 1em;
    margin: 2em;
}

button:hover {
    background-color: #2c974b;
}

a {
    text-decoration: none;
    color: #fff;
}