---
const year = new Date().getFullYear();
---

<footer>
    <p>© {year} nachhaltigkeit-studium.de</p>
    <p class="secondary-text"><a href="/datenschutz">Datenschutzerklärung</a> & <a href="/impressum">Impressum</a></p>
</footer>

<style>
    footer {
        padding: 2em 1em;
        text-align: center;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        margin-bottom: 4em;
        font-size: 20px;
    }

    .secondary-text {
        font-size: initial;
    }

    a {
        color: rgb(var(--gray));
    }
</style>